body{
    background-color: rgb(221, 255, 247);
    color: rgb(48, 43, 39);
}

#cabecalho{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color:rgb(0, 126, 167);
    padding-bottom: 10px;
}

#minha_foto{
    width: 250px;
    margin: 170px 20px 0px;
    padding: 5px;
    border: 5px;
    border-radius: 10%;
}

#titulo{
    font-size: 50px;
    color: rgb(0, 23, 31);
    font-family: sans-serif;
    text-align: center;
}

.font-style{
    line-height: 25px;
    font-family: sans-serif;
}

.lado-direito{    
    width: 30%;
    padding: 0px 0px 0px 7px;
    border-left-style: dotted;
}

#fotoListasContainer {
    display: flex;
    align-items: flex-end;
}

#artigoContainer {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    opacity: 0.8;
    padding: 0 10px;
  }

  a:hover {
    opacity: 1;
  }
  
  a:visited, a:hover, a:active {
    color: rgb(221, 255, 247);
  }

  #nav-list {
      display: flex;
      justify-content: space-around;
      font-size: larger;
  }

  #rodape {
      background-color: rgb(198, 226, 233);
      text-align: center;
  }
